// main: schneider.less

// [has-dropdown] {
//     cursor: pointer;
// }

.has-dropdown {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    //display: none;
    display: block;
    white-space: nowrap;
    min-width: 8rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);

    transition: opacity 0.1s;
    opacity: 0;
    overflow: hidden;
    height: 0;
    &.open {
        overflow: visible;
        // display: block;
        height: auto;
        opacity: 1;
    }
}
