// main: schneider.less

@import 'variables';

.media {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em;

    &:not(:last-child)
    {
        margin-bottom: 0.5em;
    }

    .media-figure {
        display: flex;
        &:last-child {
            margin-left: 0.5em;
        }
        &:first-child {
            margin-right: 0.5em;
        }
    }

    .media-content {
        flex-grow: 1;
        > .media-header, > .media-footer {
            display: flex;
            flex-wrap: wrap;
            // .title {
            //     white-space: nowrap;
            // }
        }

        > .media-header {
            margin: 0 0 0.25em 0 ;
        }

        > .media-footer {
            margin-bottom: 0.25em;
        }

        > p {
            margin: 0 0 0.5em 0;
        }

        > p + .media {
            margin-top: 1rem;
        }
    }
}
