// main: schneider.less

@import 'variables';

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &.vertical-stretch {
        align-items: stretch;
    }

    >.menu {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.topbar {
    display: flex;
    align-items: center;
    background-color: @topbar-background-color;
    color: @topbar-color;

    &.fixed {
        position: fixed;
        width: 100%;
        margin-top: 0;
    }

    .logo {
        display: inline-block;
        align-self: flex-start;
        margin: 0.5rem 0.5rem;
        white-space: nowrap;
    }

    nav.nav {
        margin-left: auto;
        align-self: stretch;
    }

    nav.nav a {
        color: inherit;
        &:hover {
            background-color: @topbar-nav-item-background-color;
        }
    }

    .offscreen-open {
        margin: 0 1em;
    }
}

.menu {
    display: flex;
    align-items: stretch;

    &.vertical {
        flex-direction: column;
    }

    a {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: inherit;

        &:hover:not(.title):not(.separator), &.active {
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }

        .icon + span {
            margin-left: 0;
        }
        span {
            margin-left: 1.5rem;
        }
        padding: @nav-item-padding*0.75 @nav-item-padding;
    }

    &.rounded a {
        &:first-child:hover {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
        &:last-child:hover {
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }

    &.icon-top a {
        display: flex;
        flex-direction: column;
        align-items:fa center;
        justify-content: center;
        > i.fa {
            font-size: 1.5em;
            margin-bottom: 0.25em;
        }
    }

    &:not(.icon-top) a > .icon:first-child {
        margin-right: 0.5em;
    }

    // a.submenu-open > .submenu-indicator {
    //     transform: rotate(-90deg);
    // }
    //
    // a > .submenu-indicator {
    //     font-size: 0.875em;
    //     margin-left: auto;
    //     transition: transform 100ms;
    // }

    .title {
        padding: @nav-item-padding*0.5 @nav-item-padding;
        .sub;
    }

    .separator {
        margin: @nav-item-padding*0.5 @nav-item-padding;
        padding: 0;
        border-bottom: solid @color-gray 1px;
    }
}
