// main: schneider.less

@import 'variables';

header.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &.vertical-stretch {
        align-items: stretch;
    }
}

.topbar {
    display: flex;
    align-items: center;
    background-color: @topbar-background-color;
    color: @topbar-color;

    &.fixed {
        position: fixed;
        width: 100%;
        margin-top: 0;
    }

    .logo {
        display: inline-block;
        align-self: flex-start;
        margin: 0.5rem 0.5rem;
        white-space: nowrap;
    }

    nav.nav {
        margin-left: auto;
        align-self: stretch;
    }

    nav.nav a {
        color: inherit;
        &:hover {
            background-color: @topbar-nav-item-background-color;
        }
    }

    .offscreen-open {
        margin: 0 1em;
    }
}

.menu {
    display: flex;
    align-items: stretch;

    &.vertical {
        flex-direction: column;
    }

    &.vertical {
        flex-direction: row;
    }

    a {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &.rounded a {
        &:first-child:hover {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
        &:last-child:hover {
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }

    &.icon-top a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > i.fa {
            font-size: 1.5em;
            margin-bottom: 0.25em;
        }
    }

    &:not(.icon-top) a > i.fa:first-child {
        margin-right: 0.25em;
    }

    a.submenu-open > .submenu-indicator {
        transform: rotate(-90deg);
    }

    a > .submenu-indicator {
        font-size: 0.875em;
        margin-left: auto;
        transition: transform 100ms;
    }

    a {
        padding: @nav-item-padding*0.75 @nav-item-padding;
    }

    .group-title {
        padding: @nav-item-padding*0.25 @nav-item-padding;
        .sub;
    }
}
